built/
build/
.vscode/
node_modules/
tmp
package-lock.json
Makefile.user
runtime/devicescript-vm/dist/wasmpre.d.ts.map
*.jdl
compiler/src/prelude.ts
website/solutions
website/static/dist/devicescript-compiler.js
temp/