built/
build/
.vscode/
node_modules/
tmp
package-lock.json
Makefile.user
runtime/jacscript-vm/dist/wasmpre.d.ts.map
*.jdl
compiler/src/prelude.ts
website/solutions
website/static/js/jacscript-compiler.js
