built/
build/
node_modules/
tmp
package-lock.json
Makefile.user
runtime/devicescript-vm/dist/wasmpre.d.ts.map
*.jdl
compiler/src/prelude.ts
website/solutions
website/static/dist/devicescript-compiler.js
temp/
packages/core/src/devicescript-spec.d.ts
packages/core/src/devicescript-servers.d.ts
packages/core/src/devicescript-boards.d.ts
.devicescript
**/*.vsix
.vscode/settings.json
packages/.vscode
__pycache__
devs/snippets
local.env
.env.local
emsdk-cache*
.DS_Store