@import '../../css/custom.css';

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: var(--ifm-leading);
    margin-top: var(--ifm-leading);
}

.LineNumber {
    font-family: var(--ifm-font-family-monospace);
    font-size: var(--ifm-code-font-size);
    min-width: 45px;
    border: 0;
    padding: calc(var(--ifm-pre-padding) + 1px) 0 var(--ifm-pre-padding) var(--ifm-pre-padding);
    line-height: var(--ifm-pre-line-height);
}

.LineNumber::before {
    content: '';
    opacity: 0;
}

.CustomCodeEditorContent {
    display: flex;
    font: inherit;
}

.FirstCol {
    width: 44%;
}

.TableCellIcon {
    text-align: center;
}